*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: green;
    background-color: white;
    font-size: 1rem;
    font-weight: 900;
    line-height: 50px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    padding: 10px;
    border-bottom: 2px solid green;
    position: sticky;
    width: 100%;
    top: 0;
    height: 15%;
    gap: 10px;
    background-color: black;
    color: white;
    z-index: 1000;
}

.logo{
    width: 5rem;
}


.container{
    margin: 0 auto;
    width: 70%;
}

h2{
    margin-top: 50px;
    padding: 15px 0;
    border-bottom: 2px solid green;
    margin-bottom: 30px;
}

.sub-container{
    border-bottom: 2px solid green;
    padding-bottom: 10px;
}

.img-container{
    height: 15pc;
    border: 3px solid green;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
}

.product{
    width: 10pc;
    height: 12pc;
    border-bottom: 3px solid green;
    padding: 10px;
    display: block;
}


button{
    padding: 10px;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    font-size: 15px;
    transition: all .45s ease-in;
}

button:hover{
    transform: scale(0.8);
}

.btn{
    text-align: center;
}

footer{
    border-top: 2px solid green;
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    line-height: 25px;
    margin-top: 50px;
}

.sub-container:last-child{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    border: none;
}

.underline{
    text-decoration: underline;
}

.underline:hover, 
:focus{
    color: green;
    background-color: white;
    padding: 5px;
    border: 2px solid green;
    border-radius: 15px;
    text-decoration: none;
}

footer > small > div{
    color: orange;
}