@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:wght@200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}    

html, body{
    overflow-x: hidden;
}

header img{
    width: 100px;
}

header .bx{
    display: none;
}

.navMenu{
    flex: 1;
    text-align: right;
}

.navMenu ul li{
    display: inline-block;
    padding: 8px 12px;
    margin: 0 25px;
    position: relative;
    font-family: "poppins", sans-serif;
}

.navMenu a {
    color: #aaa;
    font-size: 17px;
    font-weight: 900;
    transition: all .45s ease;
}

.navMenu :hover, .navMenu:active{
    color: green;
}


body{
    color: green;
    background-color: white;
    font-size: 1rem;
    font-weight: 900;
    line-height: 50px;
}

.home-content span{
    color: white;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./mosque.png');
    background-position: center;
    background-size: cover;
    align-content: center;
    justify-content: center;
}
.home .btn{
    padding: 4px 16px;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.sub-header {
    position: relative;
    top: 0;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./mosque.png');
    background-size: cover;
    height: 50vh;
    text-align: center;
    align-items: center;
    background-position: center;
    line-height: 1;
}

.sub-header h1 {
    font-size: 4rem;
    margin-top: 50px;
}

.first{
    display: inline-block;
    margin-right: 15px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background-color: green;
}

.second{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #aaa;
}

.home-content h1{
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.1;
    margin: 0 0 8px;
}

.home-content p{
    color: #aaa;
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 40px;
}

section{
    padding: 80px 10% 120px;
}

.product-img{
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.btn{
    display: inline-block;
    padding: 15px 30px;
    background-color: white;
    border: 2px solid green;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 900;
    color: green;
    /* height: 60px;
    width: 120px; */
    border-radius: 50px;
    letter-spacing: 1px;
    transition: all .45s ease;
    text-align: center;
}

button{
    gap: 5px;
}

.btn:hover {
    transform: scale(0.9);
}

.custom-alert {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid green;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.custom-alert img {
    width: 70%;
    height: 30%;
    display: block;
    justify-self: center;
}

.custom-alert button{
    display: block;
    justify-self: center;
    margin-top: 5px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "poppins",sans-serif;
    padding: 10px;
    border-bottom: 2px solid green;
    position: fixed;
    right: 0;
    width: 100%;
    top: 0;
    height: 100px;
    padding: 2% 6%;
    gap: 10px;
    background-color: black;
    color: white;
    z-index: 1000;
}

.logo{
    width: 5rem;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 0;
}

.about-img img{
    max-width: 530px;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.about h2{
    font-size: 3rem;
    line-height: 1;
    border: none;
    margin: 0;
}

.about-text p{
    font-size: 1.1;
    font-family: 'Times New Roman', Times, serif;
    color: #aaa;
    line-height: 2.0;
    margin-bottom: 4rem ;
}




h2{
    margin-top: 50px;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 30px;
    font-size: 3rem;
}

.sub-container{
    border-bottom: 2px solid green;
    padding-bottom: 10px;
}

.img-container{
    height: 15pc;
    border: 3px solid green;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
}

.products{
    width: 10pc;
    height: 12pc;
    border-bottom: 3px solid green;
    padding: 10px;
    display: block;
}

.sub-header span {
    color: #fff;
}

button{
    padding: 15px 30px;
    font-size: 16px;
    color: green;
    border: 2px solid green;
    border-radius: 50px;
    background: white;
    cursor: pointer; 
    width: 120px;  
    height: 60px;
    font-weight: 900;
    transition: all .5s ease;
}

button:hover, button:focus{
    transform: scale(0.8);
    cursor: wait;
}

.contact > h2{
    margin-left: 15px;
}

.contact {
    display: block;
    justify-content: left;
    margin: -15px;
}

.contact > form > fieldset{
    line-height: 1.5;
    text-align: center;
    padding: 10px;
    border: 3px solid green;
    border-radius: 5px;
}

.contact p{
    text-align: center;
}

.contact > form > fieldset > input,.contact > form > fieldset > textarea{
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

footer{
    border-top: 2px solid green;
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    line-height: 25px;
    margin-top: 50px;
}

.sub-container:last-child{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    border: none;
}

.line{
    text-decoration: underline;
}

.line:hover, 
:focus{
    text-decoration: none;
}

.others {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.others-img {
    position: relative;
    width: 15rem;
    height: 15rem;
    margin-top: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.others-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid green;
}


.others-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(30deg);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid transparent;
    border-left: .2rem solid green;
    border-right: .2rem solid green;
}

.map {
    margin: auto;
}

.map iframe {
    width: 100%;
}

footer > small > div{
    color: orange;
}

@media (max-width: 900px) {
    .home-content h1 {
        font-size: 4rem;
    }

    .home-content h2 {
        font-size: 2.5rem;
    }

    .home{
        height: 150vh;
    }

    .about {
        grid-template-columns: 1fr;
    }
    
}

@media (max-width: 800px) {
    .home-content h1 {
        font-size: 3rem;
    }

    .home-content h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 780px) {
    header .bx{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 30px;
        cursor: pointer;
        padding: 20px;
    }

    .navMenu{
        position: fixed;
        background-color: #333;
        height: 100%;
        width: 200px;
        top: 0;
        right: -200px;
        z-index: 2;
        transition: all .45s ease;
        line-height: 2;
    }    

    .navMenu ul{
        padding: 30px;
    }

    .navMenu ul li{
        display: inline-block;
    }
    
    .navMenu a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: #fff;
    } 
}
